
@{
    ViewData["Title"] = "GetTime";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<h1>Current Time</h1>
<button id="getTimeBtn" class="btn btn-primary">Get Current Time</button>
<div id="timeResult" class="mt-3"></div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#getTimeBtn").click(function () {
                $.ajax({
                    url: "/Home/GetTimeJson",
                    type: "POST",
                    success: function (data) {
                        $("#timeResult").html("Current Time: " + data.time);
                    },
                    error: function () {
                        $("#timeResult").html("Failed to fetch the time.");
                    }
                });
            });
        });
    </script>
}



